# Introducción a la programación en R

In [2]:
# Declaración de Variables & Comentarios 
a<-2
b<-3
a

[1] 2

In [1]:
#Para ver las variables almacenadas en my WorkSpaces utilizamos
ls()

character(0)

In [6]:
#Remover del WorkSpace
rm(a)
ls()

[1] "b"

## Tipo de Datos

Muchas veces llamados "atomic vector types"  entre las clases mas utilizadas tenemos :

* Lógicas, aceptan los valores TRUE (T) and FALSE (F) , tambien el NA
* Númericos, los datos "Intege"r son un tipo de dato númerico y debe ser especificado con la letra "L" ejm 25L de lo contrario sera almacenado como un tipo numerico

Nota: Todo entero es un dato númerico, sin embargo no todo númerico es entero
* Caracter, los cuales son especficados entre comillas dobles "Text "
* Dobles, de alta prescición
* Complejos, números complejos
* Raw, almacena filas de byte

Asi mismo es importante mencionar que existe funciones que nos permiten determinar si una variable es de cierto tipo, dichas funciones son llamadas "is-dot function" por ejemplos is.numeric(2)

In [12]:
#La función class no permite saber que tipo variable es 
class(NA)
is.numeric(2)

[1] "logical"

[1] TRUE

## Coerción

Es coercionar un tipo de datos a otros, atravez de algunas funciones

In [11]:
as.numeric(TRUE)
as.character(4)
as.numeric("4.5")
as.integer("4.5")

[1] 1

[1] "4"

[1] 4.5

[1] 4

## Vectos

* Es una secuencia de datos, que tiene el mismo tipo de dato
* Usando la función c() podemos crear un vector, el cual unira todo el conjunto de elementos en listados
* Los vectores tiene la propiedad de etiqueta (labels), muchas veces usamos la función names()
* Otra función que estaremo usando es es str() que permite ver la estructura de los objetos en R
* Los vectores son muy importantes en R, pues al final y acabo veremos que los tipos de datos atomicos, son vectores de logitud 1

In [4]:
#Creación de vectores
nombres<-c("Luis","Jose","Alberto","Francisco")
edades<-c(30,28,35,50)
nombres
edades
#Ver el tipo de datos
class(nombres)
#Validar si es un tipo de dato vector
is.vector(edades)
#Asginación de etiquetas
names(edades)<-nombres
edades

#Sin Embargo tenemos otras formas de definor una vectos
names2<-c(Henry=25,Miam=26)
names3<-c("Pamela"=28,"Katia"=60)
names2
names3

[1] "Luis"      "Jose"      "Alberto"   "Francisco"

[1] 30 28 35 50

[1] "character"

[1] TRUE

     Luis      Jose   Alberto Francisco
       30        28        35        50

Henry  Miam
   25    26

Pamela  Katia
    28     60

In [8]:
str(names2)
#Veremos que los objetos son vectores de longitud 1
a<-5
is.vector(a)
length(a)

 Named num [1:2] 25 26
 - attr(*, "names")= chr [1:2] "Henry" "Miam"

[1] TRUE

[1] 1

## Operaciones con Vectores

* Operaciones Aritmeticas (Nota: Solo tener en cuenta que se realizan elemento por elemento)
* Podemos ralizar operaciones entre vectores & escalares
* Asi mismo operar entre vectores con suma,resta,multiplicación & división (Nota: Multiplicación & división no funciona como las operaciones matriciales, donde el resultado es un escalar.

In [10]:
ingresos<-c(10,50,150)
ingresos*2
ingresos/3
gastos<-c(10,25,100)
ingresos-gastos
ingresos/gastos

[1]  20 100 300

[1]  3.333333 16.666667 50.000000

[1]  0 25 50

[1] 1.0 2.0 1.5

## Subsetting Vector

El cual es un Subconjunto de un vector, dichos elementos son accedidos dado su indice (index) que debe ser escrito entre corchetes "[ ]", así mismo estos pueden ser accedidos dados sus nombre los cuales iran entre comillas dobles & corchetes.

* El simbolo "-" (menos) en los indices funcióna como una excepción, con lo cual podemos excluir elementos de nuestra selección.
* Así mismo podemos ingresar un vector para realizar una selección multiple  subsetting<- vector[c(1,2...index)] , sin embargo adicional a esto podemos usar el simbolo ":" para ingresar una secuencia 
* Veremos que tambien podemos usar un vector lógico para extrar la información sin embargo tenemos que cuidar que dicho vector sea de la misma longitud que vector original, de lo contrario R utilizara el "R recycles" para acompletar el vector lógico,algunos operadores logicos que tenemos son:

    * < for less than
    * \> for greater than
    * <= for less than or equal to
    * \>= for greater than or equal to
    * == for equal to each other
    * \!= not equal to each other

In [11]:
#Definición de un vector
vec1<-c(Luis=30,Pedro=27,Irving=40)

#Formas de obtener un subconjunto, dado el indice & dado el nombre
sub_vec1<-vec1[1]
sub_vec1_name<-vec1["Pedro"]
#Obtener una vector de subconjunto
sub_vec2<-vec1[c(2,3)]
print("Selección Simples index & name")
sub_vec1
sub_vec1_name
print("Vector")
sub_vec2

#Expecionar selección
print("Excepción")
sub_exp<-vec1[-3]
sub_exp

#Extracción por vectores logicos
vec_log<-c(F,F,T)
sub_log<-vec1[vec_log]
print("Vector Lógico")
sub_log

[1] "Selección Simples index & name"

Luis
  30

Pedro
   27

[1] "Vector"

 Pedro Irving
    27     40

[1] "Excepción"

 Luis Pedro
   30    27

[1] "Vector Lógico"

Irving
    40

## Matrices

Es una colección de datos almacenados en filas & columnas(es bidemensional)

* Para la creación utilizamos la función **matrix ()** , El llenado se hace columna a columna, sin embargo dicho comportamiento puedo ser modificado con las propiedad ** byrow= True **.
* Otras maneras de crear matrices es combinando vectores con las funciones: ** rbind() y cbind() **
* Los nombres de filas y columnas viene dado por las funciones ** rownames() y colnames() ** , sin embargo tambien podemos usar la función **dimnames()**, sin embargo esta se utiliza solo en la definición de la matriz.

Otras funciones que podrias utilizar son :
    * rowSums(matriz) : permite sumar por fila

In [20]:
print("Creación de una matrix del 1 al 6, con dos columnas")
a<-matrix(1:6,nrow=2)
rownames(a)<-c("Fila_A","Fila_B")
a

matrix(1:6,ncol=3, byrow=T,dimnames=list(c("Fil_1","Fil_2"),c("Col_1","Col_2","Col_3")))

print("Creación dado dos vectores")
a<-c(1,2,3)
b<-c(4,5,6)

cbind(a,b)
rbind(a,b)

print("Operaciones de Suma")
rowSums(cbind(a,b))
colSums(cbind(a,b))

[1] "Creación de una matrix del 1 al 6, con dos columnas"

       [,1] [,2] [,3]
Fila_A 1    3    5
Fila_B 2    4    6

      Col_1 Col_2 Col_3
Fil_1 1     2     3
Fil_2 4     5     6

[1] "Creación dado dos vectores"

     a b
[1,] 1 4
[2,] 2 5
[3,] 3 6

  [,1] [,2] [,3]
a 1    2    3
b 4    5    6

[1] "Operaciones de Suma"

[1] 5 7 9

 a  b
 6 15

## Matrix Subsetting

Asi como en los vectores, tendremos la necesidad de extraer información de nuestas matrices para esto usaremos los declaración de corchetes.

* La extración de un elemento en particular requiere indicar el ** name_matrix [ fila , columna] **
* Las extracciones devolveran un vector con los datos de interes

In [17]:
print("Definimos Nuestra Matriz")
matrix1<-matrix(21:32,nrow=3,dimnames=list(c("[1 , ]","[2 , ]","[3 , ]"),c("[ , 1]","[ , 2]","[ , 3]","[ , 4]")))
matrix1

print("Extracción de un Elemento del elemento fila=2 & Columna=2")
matrix1[2,2]

print("Extracción de toda una Fila por ejemplo #3")
matrix1[3,]

print("Extracción de toda una Columna por ejemplo #2")
matrix1[,2]

print("En caso de ingresar solo un elemento R contara elemento fila por fila de derecha a izquierda")
matrix1[5]

[1] "Definimos Nuestra Matriz"

       [ , 1] [ , 2] [ , 3] [ , 4]
[1 , ] 21     24     27     30
[2 , ] 22     25     28     31
[3 , ] 23     26     29     32

[1] "Extracción de un Elemento del elemento fila=2 & Columna=2"

[1] 25

[1] "Extracción de toda una Fila por ejemplo #3"

[ , 1] [ , 2] [ , 3] [ , 4]
    23     26     29     32

[1] "Extracción de toda una Columna por ejemplo #2"

[1 , ] [2 , ] [3 , ]
    24     25     26

[1] "En caso de ingresar solo un elemento R contara elemento fila por fila de derecha a izquierda"

[1] 25

## Matrix Multiple Subsetting 

Anteriormente vimos que pudimos obtener un subconjunto, sin embargo ahora veremos como extrar multiples elementos que no esten en la misma fila o columna.

Otras Caracteristicas son:

* Seleccion por nombres, para lo cual deben estar definidos
* Selección lógica

In [27]:
matrix1

print("Digamos que quiero seleccionar los elementos 24 y 27")
matrix1[1,c(2,3)]

print("Ojo tenemos que tener cuidado que pasa si queremos obtener el 24 y 28")
matrix1[c(1,2),c(2,3)]
print("Es de notar que R no realiza en emparajamiento ie. (1,2) & (2,3) para obtener 24 & 28, pues 
lo que sucede es que R abarcar todo lo que va de la fila 1 a las 2 y de columna de las 2 a la 3")

print("Por ultimo podemos crear elementos no unidos en mi Selección por ejempl fila 1 y 3 Columna 2 y 4")
matrix1[c(1,3),c(2,4)]

       [ , 1] [ , 2] [ , 3] [ , 4]
[1 , ] 21     24     27     30
[2 , ] 22     25     28     31
[3 , ] 23     26     29     32

[1] "Digamos que quiero seleccionar los elementos 24 y 27"

[ , 2] [ , 3]
    24     27

[1] "Ojo tenemos que tener cuidado que pasa si queremos obtener el 24 y 28"

       [ , 2] [ , 3]
[1 , ] 24     27
[2 , ] 25     28

[1] "Es de notar que R no realiza en emparajamiento ie. (1,2) & (2,3) para obtener 24 & 28, pues \nlo que sucede es que R abarcar todo lo que va de la fila 1 a las 2 y de columna de las 2 a la 3"
[1] "Por ultimo podemos crear elementos no unidos en mi Selección por ejempl fila 1 y 3 Columna 2 y 4"

       [ , 2] [ , 4]
[1 , ] 24     30
[3 , ] 26     32

## Matrix Arithmetic

Al igual que los vectores, podemos realizar operaciones elementos por elementos, ademas que tenemos las caracteristicas de reciclaje,adicional veremos dos funciones muy utiles para sumar por fila & columnas en matrices:

* **rowSums** que sirve para sumar dado columnas,pues recorre dichos elementos
* **colSums** que sirve para sumar dado filas,pues recorre dichos elementos

Los operadores suma, resta, multiplicación & división operan por elementos.

Those who are familiar with linear algebra: this is not the standard matrix multiplication for which you should use %*% in R.

In [7]:
matrix3<-matrix(c(10,20,30,40,50,60),nrow=3,ncol=2,dimnames=list(c("F1","F2","F3"),c("C1","C2")))
matrix3

print("Multiplicación x2")
matrix3*2

print("Resta dado un vector de menor tamaño")
vect2<-c(10,20,30)
matrix3-vect2

print("Sumas x Columnas & Filas Respectivamente")
colSums(matrix3)
rowSums(matrix3)

   C1 C2
F1 10 40
F2 20 50
F3 30 60

[1] "Multiplicación x2"

   C1 C2
F1 20  80
F2 40 100
F3 60 120

[1] "Resta dado un vector de menor tamaño"

   C1 C2
F1 0  30
F2 0  30
F3 0  30

[1] "Sumas x Columnas & Filas Respectivamente"

 C1  C2
 60 150

F1 F2 F3
50 70 90

## Resumen de Matrices & Vectores

* Son muy similares, solo aceptan un tipo de dato
* Vectores=1D & Matrices=2D
* Coercisión (si es necesaria)
* Reciclaje (si es necesario)
* Element-wise Calculations

## Factores

En el ambito de la estadistica tenemos las ** "variables categoricas"** , las cuales pueden almacenar un limitado número de catergorias y dado que R es un lenguage de programación estadistica, no es un sorpresa que este tenga una estructura para dicho elemento, llamado **factor**.

Un buen ejemplo de variable catergorica, es el tipo de sangre de las personas.

Estos "factores" tiene dos principales caracteristicas:

* Los vectores ven atravez de los diferentes categorias que se existen (es como quitar los duplicados)
* Covierte los caracteres en números.

Dichas conversiones se realizan con la finalidad de optimizar el espacio en memoria

Funciones:

* **factor** , sirve para crear el factor
* **levels** , determina los niveles o el orden
* **labels**, el nombre de los factores 
* **ordered= True(false) ** , para especificar si tendra un orden, lo cual ayudara hacer comparaciones

There are two types of categorical variables: a nominal categorical variable and an ordinal categorical variable, A nominal variable is a categorical variable without an implied order. This means that it is impossible to say that 'one is worth more than the other'. In contrast, ordinal variables do have a natural ordering. Consider for example the categorical variable temperature_vector with the categories: "Low", "Medium" and "High". Here it is obvious that "Medium" stands above "Low", and "High" stands above "Medium".

In [41]:
print("Supogamos que recolecatmos una muestra de sangre de 8 personas")
type_blood<-c("B","AB","O","A","O","O","A","B")
type_blood

print("Para convertir un vecto en un facto usamos la función vector ")
type_blood_factor<-factor(type_blood)
type_blood_factor

print("Caracteristicas de un Vector")
str(type_blood_factor)

print("Podemos personalizar los niveles")
type_blood_factor2<-factor(type_blood, levels=c("O","A","B","AB"))
str(type_blood_factor2)

print("Es importante mencionar que podemos cambiar el nombre de los niveles, sin embargo estos debe seguir el orden de los factores")    
type_blood_factor3<-factor(type_blood, labels=c("BT_A","BT_AB","BT_B","BT_O"))    
str(type_blood_factor3)

print("Realizar Comparaciones, cuando la variable categorica esta ordenada y no")
t_shir<-factor(c("s","m","l"),levels=c("s","m","l"),ordered=T)
str(t_shir)
t_shir[1]<t_shir[2]


type_blood_factor[1]>type_blood_factor[2]

[1] "Supogamos que recolecatmos una muestra de sangre de 8 personas"

[1] "B"  "AB" "O"  "A"  "O"  "O"  "A"  "B"

[1] "Para convertir un vecto en un facto usamos la función vector "

[1] B  AB O  A  O  O  A  B
Levels: A AB B O

[1] "Caracteristicas de un Vector"
 Factor w/ 4 levels "A","AB","B","O": 3 2 4 1 4 4 1 3
[1] "Podemos personalizar los niveles"
 Factor w/ 4 levels "O","A","B","AB": 3 4 1 2 1 1 2 3
[1] "Es importante mencionar que podemos cambiar el nombre de los niveles, sin embargo estos debe seguir el orden de los factores"
 Factor w/ 4 levels "BT_A","BT_AB",..: 3 2 4 1 4 4 1 3
[1] "Realizar Comparaciones, cuando la variable categorica esta ordenada y no"
 Ord.factor w/ 3 levels "s"<"m"<"l": 1 2 3

[1] TRUE

Warning message in Ops.factor(type_blood_factor[1], type_blood_factor[2]):
"'>' not meaningful for factors"

[1] NA

## Listas

Hasta ahora conecemos las siguentes estructuras de datos:

* Vector (1D), mismo tipo
* Matrix,(2D), mismo tipo

Sin embargo estas como sabemos solo almacenan un tipo de dato y existira ocasiones donde queramos almacenar diferentes tipos de datos en la misma estrucutura, aquie podemos usar las **listas**

* Almacenan diferentes tipos de objetos como son vector,matrizes, data frame, factores, etc.
* No Coerción

Sus Principales funciones o parametros son:

**list()** , instrucción para crear un elemento de tipo lista.
**is.list()**, para evaluar si un objeto es una lista
**names**, es una propiedad para ingresar titulos a los datos
**str**, la cual permite ver la estructura.

1. Vectors (one dimensional array): can hold numeric, character or logical values. The elements in a vector all have the same data type.
2. Matrices (two dimensional array): can hold numeric, character or logical values. The elements in a matrix all have the same data type.
3. Data frames (two-dimensional objects): can hold numeric, character or logical values. Within a column all elements have the same data type, but different columns can be of different data type.

Just like on your to-do list, you want to avoid not knowing or remembering what the components of your list stand for. That is why you should give names to them

> my_list <- list(name1 = your_comp1, name2 = your_comp2) or other option is 

> my_list <- list(your_comp1, your_comp2)

> names(my_list) <- c("name1", "name2")

### Selecting elements from a list

One way to select a component is using the numbered position of that component. For example:

`list[[component]]`

**A quick way to check this out is typing it in the console. Important to remember: to select elements from vectors, you use single square brackets: `[ ]`. Don't mix them up!**

You can also refer to the names of the components, with `[[ ]]` or with the `$` sign. Both will select the data frame representing the reviews:

`list[["ColumName"]]`

`list$ColumName`

Besides selecting components, you often need to select specific elements out of these components. For example, with `shining_list[[2]][1]` you select from the second component, could be the actors `(shining_list[[2]])`, the first element `([1])`. When you type this in the console, you will see the answer is Jack Nicholson

In [11]:
song<-list("The men how can´t moved",150,5)
names(song)<-c("Title","Duration","Track")
song

print("Otra manaera de asignar los nombres")
song2<-list(Title="You are beatiful",Duration=100,Track=3)
str(song2)

print("------------------------------------------------------------")
print("Listas dentro de Listas")
song3<-list(Title="You are beatiful",Duration=100,Track=3,lista=song)
str(song3)

$Title
[1] "The men how can´t moved"

$Duration
[1] 150

$Track
[1] 5

[1] "Otra manaera de asignar los nombres"
List of 3
 $ Title   : chr "You are beatiful"
 $ Duration: num 100
 $ Track   : num 3
[1] "------------------------------------------------------------"
[1] "Listas dentro de Listas"
List of 4
 $ Title   : chr "You are beatiful"
 $ Duration: num 100
 $ Track   : num 3
 $ lista   :List of 3
  ..$ Title   : chr "The men how can´t moved"
  ..$ Duration: num 150
  ..$ Track   : num 5

## Subsetting List

A diferencia de los vectores y matrices, el subconjunto funciona de manera diferente:

* Cuando trabajos con un vector y matrizes, solo tenemos que ingresar [ ] o [ [ ] ] si usamos a simple brackets obtenemos la lista, si usamos dobles brackets basicamente obtenemos solo el elemento.
* Ademas podemos obtener varios elementos utilizando un vector dentro simple brackets
* La extracción por nombres funciona para ambos simple o doble brackers
* La extracción lógica solo funciona para simple brackets
* Adicional podemos usar el simbolo $ con los nombre para extraer los datos

En resumen:
* [[ para seleccionar un elemento de lista
* [ el resultado es un sublista
* [[ o $ para extraer o extender una lista

In [34]:
print("Lista")
lista1<-list(Nombre="Luis Meza",Edad="30",Dpto="Pricing")
lista1
sublist<-list(Estudios="Lic",Carrera="Actuaria")

print("List in List")
super_list<-list(Nombre="Luis Meza",Edad="30",Dpto="Pricing",sub=sublist)
super_list

print("Subsetting con []")
super_list[1]

print("Subsetting con [[]]")
super_list[[1]]


print("Extrar un conjunto de elementos")
super_list[c(1,3)]

print("Seleccionar el 1 elemento de la sublista")
super_list[[4]][[1]]
print("Otra manera de seleccionar el 1 elementos de la sublista")
super_list[[c(4,1)]]

print("Extracción por nombres")
super_list["Dpto"]
super_list["sub"]

[1] "Lista"

$Nombre
[1] "Luis Meza"

$Edad
[1] "30"

$Dpto
[1] "Pricing"

[1] "List in List"

$Nombre
[1] "Luis Meza"

$Edad
[1] "30"

$Dpto
[1] "Pricing"

$sub
$sub$Estudios
[1] "Lic"

$sub$Carrera
[1] "Actuaria"

[1] "Subsetting con []"

$Nombre
[1] "Luis Meza"

[1] "Subsetting con [[]]"

[1] "Luis Meza"

[1] "Extrar un conjunto de elementos"

$Nombre
[1] "Luis Meza"

$Dpto
[1] "Pricing"

[1] "Seleccionar el 1 elemento de la sublista"

[1] "Lic"

[1] "Otra manera de seleccionar el 1 elementos de la sublista"

[1] "Lic"

[1] "Extracción por nombres"

$Dpto
[1] "Pricing"

$sub
$sub$Estudios
[1] "Lic"

$sub$Carrera
[1] "Actuaria"

## Adding more information to the list

To conveniently add elements to lists you can use the `c()` function, that you also used to build vectors:

> `ext_list <- c(my_list , my_val)`

If you want to give the new list item a name, you just add the name as you did before:

> `ext_list <- c(my_list, my_name = my_val)`

## Data Frame

Asi como las vectores, matrices y otros elementos, un Data Frame es un Date Set i.e un conjunto de datos la cual:

* Son Observaciones
* Almacenada variables
* No es un matrix, pues almacenan datos de diferentes tipos
* No es una lista, pues estan no son muy praticas de consultar a diferencia de una Data Frame

* **Columns** son las variables de estudios
* **Rows** son los registros u observaciones
* la función **date.frame()** nos servira para crear un date.frame

Algunas funciones utiles para tener un vistazo de los datos.

* **head()**, muestra las primeras observaciones
* **tail()**, muestra las últimas observaciones
* **dim()**, muestra las dimensiones

You can set the **stringsAsFactors** argument inside data.frame() to avoid that R automatically converts character vectors to factors: 

Example: data.frame(vec1, vec2, ..., stringsAsFactors)

Asi mismo tenemos dos formas de ingresar el nombre

> data.frame(name1 = vec1, name2 = vec2, ...)

> my_df <- data.frame(vec1, vec2, ...)

> names(my_df) <- c("name1", "name2", ...)

The function str() shows you the structure of your data set. For a data frame it tells you:

* The total number of observations (e.g. 32 car types)
* The total number of variables (e.g. 11 car features)
* A full list of the variables names (e.g. mpg, cyl ... )
* The data type of each variable (e.g. num)
* The first observations

In [13]:
print("Creación de una Date Frame")
a<-c("Luis","Jose","Maria")
b<-c(27,25,40)
c<-c(T,T,F)

df<-data.frame(a,b,c)
names(df)<-c("Nombres","Edades","Child")
df

[1] "Creación de una Date Frame"

  Nombres Edades Child
1 Luis    27      TRUE
2 Jose    25      TRUE
3 Maria   40     FALSE

## Data Frame Subsetting

Combinandas las caracteristicas de las matrices y las listas dado que :

* **[** de matrices
* **[[** y **\$** para listas

Similar to matrices, you select elements from a data frame with the help of square brackets [ ]. By using a comma, you can indicate what to select from the rows and the columns respectively:

**first row, second column**

> my_df[1,2]

**rows 1, 2 and 3**

> columns 2, 3 and 4

> my_df[1:3,2:4]

**Entire first row**

>my_df[1, ]

** Instead of using numerics to select elements of a data frame, you can also use the variable names to select columns of a data frame. **
> planets_df[1:3,"type"]

**You will often want to select an entire column, namely one specific variable from a data frame. If you want to select all elements of the variable rings, both planets_df[,5] and planets_df[,"has_rings"] do the trick. However, you can also use the $ sign:**

>my_df$col_name

**Instead of having to define a vector rings_vector, which you then use to subset planets_df, you could've also used or 
You can reach the same thing with the subset(). You should see the subset() function:**

subset(my_df, subset = some_condition)

> planets_df[planets_df$has_rings == TRUE, ]

> subset(planets_df, subset = has_rings == TRUE)

** There are many cases in which you'll want to add more variables to your data frame. This comes down to adding a column to the data frame. The exact same techniques to select columns from a data frame can be used here. To add a column new_column to my_df, with data from my_vec, you can use one of the following calls: **

> my_df$new_column <- my_vec

> my_df[["new_column"]] <- my_vec

> my_df <- cbind(my_df, new_column = my_vec)

**Next to adding new variables to a data frame, you can also add observations. You can use the rbind() function for this. The rbind() function is capable of pasting together two data frames. The merge can only be successful when the names of both the data frames match, otherwise an error occurs. Suppose you have two data frames containing three columns each:**

> my_df1 <- data.frame(a = 1, b = 2, c = 3)

> my_df2 <- data.frame(a = 8, b = 9, c = 10)

> uber_df <- rbind(my_df1, my_df2)

**In data analysis you will sort your data according to a certain variable in the data set. In R, this is done with the help of the function order() this is a function that gives you the ranked position of each element when it is applied on a variable, such as a vector for example:**

> a <- c(100,9,101)

> order(a)

this code returns the vector containing 2, 1 and 3; that's because 100 is the second largest element of the vector, 9 is the smallest element and 101 is the largest element.

> a[order(a)]

will thus give you the ordered vector (9, 100, 101), since it first picks the second element of a, then the first and then the last

In [22]:
#Vamos a usar nuestro data frame anterior
df

print("-----------------------------------------------------------------")
print("Extrar un elemento")
df[2,2]

print("-----------------------------------------------------------------")
print("toda una fila o columna")
df[2,]

print("-----------------------------------------------------------------")
print("varios elementos")
df[c(1,3),c("Nombres","Child")]

print("-----------------------------------------------------------------")
print("Agregar Columnas")
height<-c(1.70,1.50,1.80)
df$Altura<-height
#Otra manera de ingrearlo seria df[[Altura]]<-height
#Una segunda forma es cbind
df

print("-----------------------------------------------------------------")
print("Agregar Filas")
#Tenemos que ingresar los nombres de las etiquetas, de lo contrario marcaria error.
tom<-data.frame(Nombres="Tom",Edades=50,Child=FALSE,Altura=1.83)
rbind(df,tom)

print("-----------------------------------------------------------------")
print("Ordenar Registros")
#Tenemos que ingresar los nombres de las etiquetas, de lo contrario marcaria error.
ranks<-order(df$Edades)
ranks

df$Edades

  Nombres Edades Child Altura
1 Luis    27      TRUE 1.7
2 Jose    25      TRUE 1.5
3 Maria   40     FALSE 1.8

[1] "-----------------------------------------------------------------"
[1] "Extrar un elemento"

[1] 25

[1] "-----------------------------------------------------------------"
[1] "toda una fila o columna"

  Nombres Edades Child Altura
2 Jose    25     TRUE  1.5

[1] "-----------------------------------------------------------------"
[1] "varios elementos"

  Nombres Child
1 Luis     TRUE
3 Maria   FALSE

[1] "-----------------------------------------------------------------"
[1] "Agregar Columnas"

  Nombres Edades Child Altura
1 Luis    27      TRUE 1.7
2 Jose    25      TRUE 1.5
3 Maria   40     FALSE 1.8

[1] "-----------------------------------------------------------------"
[1] "Agregar Filas"

  Nombres Edades Child Altura
1 Luis    27      TRUE 1.70
2 Jose    25      TRUE 1.50
3 Maria   40     FALSE 1.80
4 Tom     50     FALSE 1.83

[1] "-----------------------------------------------------------------"
[1] "Ordenar Registros"

[1] 2 1 3

[1] 27 25 40

In [45]:
vecto<-c(1,0,0)
str(vector)



a<-data.frame(nombre=c("Luis","Jose"),edad=c(10,20))
str(a)

is.vector(a$nombre)
is.vector(a[,"edad"])

function (mode = "logical", length = 0L)
'data.frame':	2 obs. of  2 variables:
 $ nombre: Factor w/ 2 levels "Jose","Luis": 2 1
 $ edad  : num  10 20

[1] FALSE

[1] TRUE

# Other things 

### Read
Use the library() function to load the tidyverse package.

Read in the CSV file that holds the data using the function read_csv(). The file path has already been filled in for you.

> taxis <- read.csv("/usr/local/share/datasets/taxis.csv")

1. Take a first look at your data using the function glimpse().
2. Examine the structure of the dataset with the str() function.
3. Get a summary statistics of all the variables with the summary() function.

### Applying functions
R contains a few useful functions that allow you to apply other functions to the elements of a list or a vector. As an example, say you have a list of vectors:

Now you want to find the length() of each of these vectors. One solution is to write code like length(my_list[["vec_1"]]). But this could quickly get tedious. Here's where the function sapply() comes in! You want to apply the function length() to each element of the list! So now your code looks like sapply(my_list, length), and the output is

In [3]:
my_list <- list(
  vec_1 = c(1, 2, 3),
  vec_2 = c("apples", "bananas"),
  vec_3 = c(TRUE, TRUE, FALSE, TRUE)
)

sapply(my_list, length)
sapply(my_list, is.numeric)

vec_1 vec_2 vec_3
    3     2     4

vec_1 vec_2 vec_3
 TRUE FALSE FALSE

### To define your own function in R

You'll use the syntax:

function_name <- function(args, more_args) {

    ...
    
} 

where the ... is replaced with whatever operations using args and more_args you want the function to carry out

### Selecting columns
You'll be using the `dplyr` package to work with dataframes. This package has five main functions, or "verbs", that each correspond to a common data manipulation task. The first is `select()`. As you might have guessed, this verb selects columns from your dataframe and returns another dataframe.

Another thing you might find handy is the `pipe` operator. It looks like `%>%` and makes your code more readable by doing away with nested function calls. The pipe works by evaluating the object on its left and passing it as the first argument to the function on its right. So `taxis %>% select() is the same as select(taxis) `.

### Dropping columns
It's often the case that your dataframe contains columns you don't need. In this exercise you'll use the select() function to get rid of some of these.

You can do this by placing a `-(minus sign)` before the column name when you're select()-ing it.

### Finding all correlations
Remember when you calculated the correlation coefficient between two columns a few exercises ago? Now you'll use the helpful function `select_if()` to find the correlations between all numerical columns at once!

The function `select_if()` works a lot like select, except instead of passing the names of columns in, you pass in a function that that is run on each column and that evaluates to `TRUE or FALSE` . Then `select_if()` returns the columns where your function was TRUE.

### Creating columns I
Your next step is creating a few columns you're interested in examining, but aren't present in your original dataset.

You'll use the `dplyr verb mutate()` for this. The first argument of the function mutate() is the dataframe that you're working with. Subsequent arguments have the form `new_col_name = new_col_expr`

### Creating columns II
Now you're interested in seeing how much distance having to drive along roads (as opposed to in a straight line) adds to trips.

The function hav_dist(), which computes distance using the Haversine formula, has been defined for you. This function takes the longitude of the origin, the latitude of the origin, the longitude of the destination, and the latitude of the destination, in that order.

### Filtering rows I
Another important data science skill is filtering the rows of your data. To filter rows in this exercise you'll use a function aptly called filter() from the dplyr package. In addition to a dataframe, this function's arguments are logical expressions that are used to filter the rows of your dataframe.

### Grouping with counts and means
The next skill you'll learn is grouping and summarizing your data. This means splitting the data based on the values of one or more columns and the aggregating each of these groups into a single summary statistic.

dplyr has two functions that do this job. The first is group_by(), which groups the data, and the second is summarize() which summarizes the groups. The function group_by() takes a dataframe (of course) and names of columns that define groups. The function summarize() works a lot like mutate(), but instead of an expression that creates a new column, you need one that aggregates the rows of the data to a single value.

Group and summarize the data

taxis %>% group_by(passenger_count) %>% 

  summarize(n = n(), mean_cost = mean(total_amount))

# Other thing that I learn in other courses:

In HarvardX: PH125.1x we take the course of  "Data Science: R Basic" in the Section 2: Vectors, Sorting   2.2 Sorting   we saw the diferences between sort,order and rank

1. sort, only order our data to less to major
2. The function order() returns the index vector needed to sort the vector. This implies that `sort(x) and x[order(x)]` give the same result.
3. The funtion rank()  give the rank our data, 

Note that if rank(x) gives you the ranks of x from lowest to highest, rank(-x) gives you the ranks from highest to lowest.

In [22]:
## We weill star with a vector
print("Define a vector")
x<- c(100 , 50 , 10 , 30 , 60)
x
print("-------------------------sort--------------------------------")

# we can order our data 
print("Sort our data")
sort(x)

print("-------------------------order--------------------------------")

#index
print("we want order the following vector")
x
print("obtaind index")
order(x)
print("now if we want order data")
x[order(x)]
print("now we can see in our result that first number 10 is save in 3 position, 30 is 4 position and so on")


print("-------------------------rank--------------------------------")
#rank
print("we want rank the following vector")
x
print("obtaind rank")
rank(x)

[1] "Define a vector"

[1] 100  50  10  30  60

[1] "-------------------------sort--------------------------------"
[1] "Sort our data"

[1]  10  30  50  60 100

[1] "-------------------------order--------------------------------"
[1] "we want order the following vector"

[1] 100  50  10  30  60

[1] "obtaind index"

[1] 3 4 2 5 1

[1] "now if we want order data"

[1]  10  30  50  60 100

[1] "now we can see in our result that first number 10 is save in 3 position, 30 is 4 position and so on"
[1] "-------------------------rank--------------------------------"
[1] "we want rank the following vector"

[1] 100  50  10  30  60

[1] "obtaind rank"

[1] 5 3 1 2 4

In HarvardX: PH125.1x we take the course of  "Data Science: R Basic" in the Section Section 3: Indexing, Data Wrangling, Plots   3.1 Indexing   Indexing Functions.

We introduce three very useful functions related to indexing that use logical operators.**They are which, match, and %in%.**

1. Which, gives us the entries of a logical vector that are true.
2. Match, looks for entries in a vector and returns the index needed to access them.
3. In, If rather than an index, we want to know whether or not each element of a first vector is in a second vector, we use the function %in%.

In [2]:
#Wich
x<-c(FALSE, TRUE, FALSE, TRUE, TRUE, FALSE)
which(x)

[1] 2 4 5

In [8]:
#match
df<-data.frame(Distrito = c ("Yucatan","Campeche","DF","Veracruz","Tabasco","Chiapas"), Muertes = c (100,200,300,400,500,600))
#df
index<- match(c("DF","Yucatan"),df$Distrito)
index
#Podemos ver como busca en indice para DF es el tercero & para Yucatan es el 1

[1] 3 1

In [12]:
#in
df<-data.frame(Distrito = c ("Yucatan","Campeche","DF","Veracruz","Tabasco","Chiapas"), Muertes = c (100,200,300,400,500,600))
#df
index<- c("DF","Merida","Leon","Yucatan") %in% df$Distrito 
index
#Podemos ver que valores estan o no estan

[1]  TRUE FALSE FALSE  TRUE