# Logial Operators

We can use the following operators :

1. Equeal `==`
2. Greater and less than `> or <`
3. Not Equeal `!=`
4. And - Or Operator, we have: `& and |`

# Conditional Statments

### Conditional if 

The sintax is:

`if (condition) {expr} else {expr}` it´s important to say that we can use `else if` to do more if, if we need it.

It's important that the else keyword comes on the same line as the closing bracket of the if part!

In [1]:
a<-3
if (a>5) {print("Se cumple la condición")} else {print("No se Cumple")}

[1] "No se Cumple"

### While loop

The sintax is very similiar as `if` hovewer the difference is, this new conditional repeat the sintax while the conditional  be true

`while (condition) {expr}`, aditional we have the posibility to break our statment typing  **`break` **

Note: we can stop the process with type `ctrl+c`

In [5]:
num<-1
while (num<10) {
    if (num%%5==0) {
        print("We found the number")
        break
    } else {
        print(num)
        num<-num+1
        }
}

[1] 1
[1] 2
[1] 3
[1] 4
[1] "We found the number"

### for loop

The sintax is following:

`for (var in seq) {expr}`,

It´s important to say the if we want to access to some properties for example the `index` we need modify our code ,how we can show in the example and the same way we can have for into other for:

`
for (var1 in seq1) {
  for (var2 in seq2) {
    expr
  }
}
`

In [15]:
cities<-c("MID","CUN","MEX","GDL","MTY")
print("Uso del Break")
for (i in cities) {
    if (i=="GDL") {
        break
    } else {
        print(i)
        }
}

print("--------------------------")
print("Uso del Next")
for (i in 1: length(cities)) {
    if (cities[i]=="GDL") {
        print(paste("GDL esta en la posición",i))
        next
    } else {
        print(cities[i])
        }
}

[1] "Uso del Break"
[1] "MID"
[1] "CUN"
[1] "MEX"
[1] "--------------------------"
[1] "Uso del Next"
[1] "MID"
[1] "CUN"
[1] "MEX"
[1] "GDL esta en la posición 4"
[1] "MTY"

# Functions
A quick review about this:

1. Functions works like a black box (recive a input a give a output)
2. Arguments matchig: by position or by name
3. Functions could have default values

Before to star, I´ll present the function **`arg`**  wich allow you to inspect the arguments of a function

In [3]:
args(sd)

function (x, na.rm = FALSE)
NULL

## Writings Functions
We have the following structure:

` my_function<- function(arg1, arg2) {
body
}
`

In [2]:
#Example of a function with a default value and validation 
my_magical_function <- function (arg1,arg2=1) {
    if (arg2==0) {
        return (0)
    }
    arg1*arg2 + arg1/arg2
    
}

my_magical_function(8,0)

[1] 0

## Packages
There are basically two extremely important functions when it comes down to R packages:

`install.packages()`, which as you can expect, installs a given package.

`library()` which loads packages, i.e. attaches them to the search list on your R workspace.

To install packages, you need administrator privileges. This means that install.packages() will thus not work in the DataCamp interface

Before starting, execute the following commands in the console:

search(), to look at the currently attached packages and

In [4]:
search()
library("ggplot2")
search()

 [1] ".GlobalEnv"        "jupyter:irkernel"  "package:stats"
 [4] "package:graphics"  "package:grDevices" "package:utils"
 [7] "package:datasets"  "package:methods"   "Autoloads"
[10] "package:base"

 [1] ".GlobalEnv"        "package:ggplot2"   "jupyter:irkernel"
 [4] "package:stats"     "package:graphics"  "package:grDevices"
 [7] "package:utils"     "package:datasets"  "package:methods"
[10] "Autoloads"         "package:base"

# lapply()

It´s a way to iterate over a functions over list or vector, a characteristic about this function is that it always return a `list`

In [10]:
a<-list("a1"=4000,"b1"=c("Luis","Antonio"),"c"=F)
for (i in a) {
    print(class(i))
}

#Other way

lapply(a,class)

#If we want our datas in form of no-list i.e vector
unlist(lapply(a,class))

[1] "numeric"
[1] "character"
[1] "logical"

$a1
[1] "numeric"

$b1
[1] "character"

$c
[1] "logical"

         a1          b1           c
  "numeric" "character"   "logical"

In [15]:
#We can create our own functions
mul3<- function(a=0) {
    a*3
}

oil_price= list(10,20,30,40,50,60)
unlist(lapply(oil_price,mul3))

[1]  30  60  90 120 150 180

# sapply (simplify)
It´s a way to obtain ours results keeping the type of ours datas, for this we can use the functions `sapply`

You can use sapply() similar to how you used lapply(). The first argument of sapply() is the list or vector X over which you want to apply a function, FUN. Potential additional arguments to this function are specified afterwards (...):

# vapply 
Apply a function over list or vector **explicity specify** output format
`vapply(X, FUN, FUN.VALUE, ..., USE.NAMES = TRUE)`

Over the elements inside X, the function FUN is applied. The FUN.VALUE argument expects a template for the return argument of this function FUN. USE.NAMES is TRUE by default; in this case vapply() tries to generate a named array, if possible.

# Mathematical utilities
Have another look at some useful math functions that R features:

1. abs(): Calculate the absolute value.
2. sum(): Calculate the sum of all the values in a data structure.
3. mean(): Calculate the arithmetic mean.
4. round(): Round the values to 0 decimal places by default. Try out ?round in the console for variations of round() and ways to change the number of digits to round to.

R features a bunch of functions to juggle around with data structures::

    >seq(): Generate sequences, by specifying the from, to, and by arguments.
    >rep(): Replicate elements of vectors and lists.
    >sort(): Sort a vector in ascending order. Works on numerics, but also on character strings and logicals.
    >rev(): Reverse the elements in a data structures for which reversal is defined.
    >str(): Display the structure of any R object.
    >append(): Merge vectors or lists.
    >is.*(): Check for the class of an R object.
    >as.*(): Convert an R object from one class to another.
    >unlist(): Flatten (possibly embedded) lists to produce a vector.

# Regular Expressions

In their most basic form, regular expressions can be used to see whether a pattern exists inside a character string or a vector of character strings. For this purpose, you can use:

1. grepl(), which returns TRUE when a pattern is found in the corresponding character string.
2. grep(), which returns a vector of indices of the character strings that contains the pattern.

Both functions need a pattern and an x argument, where pattern is the regular expression you want to match for, and the x argument is the character vector from which matches should be sought.

You can use the caret, ^, and the dollar sign, $ to match the content located in the start and end of a string, respectively. This could take us one step closer to a correct pattern for matching only the ".edu" email addresses from our list of emails. But there's more that can be added to make the pattern more robust:

**@**, because a valid email must contain an at-sign.

.\* , which matches any character (.) zero or more times (\*)  Both the dot and the asterisk are metacharacters. You can use them to match any character between the at-sign and the ".edu" portion of an email address.

\\\\.edu$, to match the ".edu" part of the email at the end of the string. The \\\ part escapes the dot: it tells R that you want to use the . as an actual character.

In [2]:
emails <- c("john.doe@ivyleague.edu", "education@world.gov", "dalai.lama@peace.org",
            "invalid.edu", "quant@bigdatacollege.edu", "cookie.monster@sesame.tv")
# Use grepl() to match for "edu"
grepl("edu",emails)

# Use grep() to match for "edu", save result to hits
hits<-grep("edu",emails)

# Subset emails using hits
emails[hits]

[1]  TRUE  TRUE FALSE  TRUE  TRUE FALSE

[1] "john.doe@ivyleague.edu"   "education@world.gov"
[3] "invalid.edu"              "quant@bigdatacollege.edu"

In [3]:
# Use grepl() to match for .edu addresses more robustly
grepl("@.*\\.edu$",emails)

# Use grep() to match for .edu addresses more robustly, save result to hits
hits<-grep("@.*\\.edu$",emails)

# Subset emails using hits
emails[hits]

[1]  TRUE FALSE FALSE FALSE  TRUE FALSE

[1] "john.doe@ivyleague.edu"   "quant@bigdatacollege.edu"

# sub & gsub

While grep() and grepl() were used to simply check whether a regular expression could be matched with a character vector, sub() and gsub() take it one step further: you can specify a replacement argument. If inside the character vector x, the regular expression pattern is found, the matching element(s) will be replaced with replacement.sub() only replaces the first match, whereas gsub() replaces all matches.

Regular expressions are a typical concept that you'll learn by doing and by seeing other examples. Before you rack your brains over the regular expression in this exercise, have a look at the new things that will be used:

    > .*: A usual suspect! It can be read as "any character that is matched zero or more times".
    > \\s: Match a space. The "s" is normally a character, escaping it (\\) makes it a metacharacter.
    > [0-9]+: Match the numbers 0 to 9, at least once (+).
    > ([0-9]+): The parentheses are used to make parts of the matching string available to define the replacement. The \\1 in the replacement argument of sub() gets set to the string that is captured by the regular expression [0-9]+.

In [4]:
# Use sub() to convert the email domains to datacamp.edu
sub("@.*\\.edu$","@datacamp.edu",emails)

[1] "john.doe@datacamp.edu"    "education@world.gov"
[3] "dalai.lama@peace.org"     "invalid.edu"
[5] "quant@datacamp.edu"       "cookie.monster@sesame.tv"

# Dates y Date Times

In R, dates are represented by Date objects, while times are represented by POSIXct objects. Under the hood, however, these dates and times are simple numerical values. Date objects store the number of days since the 1st of January in 1970. POSIXct objects on the other hand, store the number of seconds since the 1st of January in 1970.

The 1st of January in 1970 is the common origin for representing times and dates in a wide range of programming languages. There is no particular reason for this; it is a simple convention. Of course, it's also possible to create dates and times before 1970; the corresponding numerical values are simply negative in this case.

## Create and format dates
To create a Date object from a simple character string in R, you can use the as.Date() function. The character string has to obey a format that can be defined using a set of symbols (the examples correspond to 13 January, 1982):

    %Y: 4-digit year (1982)
    %y: 2-digit year (82)
    %m: 2-digit month (01)
    %d: 2-digit day of the month (13)
    %A: weekday (Wednesday)
    %a: abbreviated weekday (Wed)
    %B: month (January)
    %b: abbreviated month (Jan)
The following R commands will all create the same Date object for the 13th day in January of 1982:

`as.Date("1982-01-13")
as.Date("Jan-13-82", format = "%b-%d-%y")
as.Date("13 January, 1982", format = "%d %B, %Y")`

In addition to creating dates, you can also convert dates to character strings that use a different date notation. For this, you use the format()

`today <- Sys.Date()
format(Sys.Date(), format = "%d %B, %Y")
format(Sys.Date(), format = "Today is a %A!")
`

In [6]:
# Get the current date: today
today<-Sys.Date()

# See what today looks like under the hood
unclass(today)

# Get the current time: now
now<-Sys.time()

# See what now looks like under the hood
unclass(now)

[1] 17829

[1] 1540526472

In [7]:
# Definition of character strings representing dates
str1 <- "May 23, '96"
str2 <- "2012-03-15"
str3 <- "30/January/2006"

# Convert the strings to dates: date1, date2, date3
date1 <- as.Date(str1, format = "%b %d, '%y")
date2 <- as.Date(str2)
date3 <- as.Date(str3, format = "%d/%B/%Y")


format(date1, "%A")
format(date2, "%d")
format(date3, "%b%Y")

[1] NA

[1] "15"

[1] NA

Create and format times
Similar to working with dates, you can use as.POSIXct() to convert from a character string to a POSIXct object, and format() to convert from a POSIXct object to a character string. Again, you have a wide variety of symbols:

    %H: hours as a decimal number (00-23)
    %I: hours as a decimal number (01-12)
    %M: minutes as a decimal number
    %S: seconds as a decimal number
    %T: shorthand notation for the typical format %H:%M:%S
    %p: AM/PM indicator

For a full list of conversion symbols, consult the strptime documentation in the console: